body {
    padding-left: 150px;
    margin: 0 auto;
    width: 1200px;
}
p {
    padding-right: 300px;
    text-align: justify;
}
h5 {
    text-align: center; 
    margin-left: -300px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }