<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Usuários</title>

  <link rel="stylesheet" type="text/css" href="../static/normalize.css">
  <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>
    

<table border="1">
    <thead>
        <tr>
            <th>E-mail</th>
            <th>Assunto</th>
            <th>Descrição</th>
        </tr>
    </thead>
    
    {% for user in userDetails %}
    
    <tbody>
        <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
        </tr>
    </tbody>
   

    {% endfor %}

    <tbody>
        <tr>
            <td>Jean</td>
            <td>Flask 2.3.2</td>
            <td>HTML</td>
        </tr>
    </tbody>
</table>
  
</body>
</html>